<div class="jumbotron center">
  <h1>Welcome to MyRecipes</h1>
  <h2>The best recipe sharing app!</h2>
  <p><%= link_to "Sign up or Log in", "#", class: "btn btn-danger btn-lg btn-xlarge" %></p>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>Safari bug warning!</h2>
    <p class="text-danger">
      Dictum sit amet justo donec enim diam, vulputate. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae nunc
    </p>
    <p>
      Diam in arcu cursus euismod quis viverra nibh! Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam!
    </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
    </p>
  </div>

  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>
      Diam in arcu cursus euismod quis viverra nibh! Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam!
    </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
    </p>
  </div>

  <div class="col-lg-4">
    <h2>Heading</h2>
    <p>
      Diam in arcu cursus euismod quis viverra nibh! Nam libero justo, laoreet sit amet cursus sit amet, dictum sit amet justo donec enim diam, vulputate ut pharetra sit amet, aliquam!
    </p>
    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a>
    </p>
  </div>
</div>
